# Python
.idea/
__pycache__/

# Downloaded data
data/

# Data and resuls
__MACOSX/
101_ObjectCategories/
caltech-101*
train_results_keras/
train_results_pytorch/
/DL06_GradCAM/*.jpg
VOCdevkit
VOCtrainval_11-May-2012.tar